<div class="card m-2">
    <div class="card-header">
        Players
    </div>
    <div class="card-body">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-sm-1">No.</th>
                    <th scope="col" class="col-sm-3">Name</th>
                    <th scope="col" class="col-sm-1">Kills</th>
                    <th scope="col" class="col-sm-1">Deaths</th>
                    <th scope="col" class="col-sm-2">Session Time &darr;</th>
                    <th scope="col" class="col-sm-2">IP:SPort</th>
                    <th scope="col" class="col-sm-1">Country</th>
                    <th scope="col" class="col-sm-1 text-center">Option</th>
                </tr>
            </thead>
            <tbody style="font-size: 14px;">
                <tr class="row" ng-repeat="(index, player) in players">
                    <td class="col-sm-1">{{ player.userId }}</td>
                    <td class="col-sm-3">
                        <span ng-click="showPlayerInfo(player.userId)" style="cursor: pointer;">{{ player.name }}</span>
                    </td>
                    <td class="col-sm-1">{{ player.kills }}</td>
                    <td class="col-sm-1">{{ player.deaths }}</td>
                    <td class="col-sm-2">{{ player.sessionTime | formatTime }}</td>
                    <td class="col-sm-2">{{ player.ipAddress }}:{{ player.port }}</td>
                    <td class="col-sm-1">{{ player.country }}</td>
                    <td class="col-sm-1 text-center">
                        <input type="checkbox" name="group" ng-model="selected[index]" id="{{ index }}">
                    </td>
                </tr>
                <tr class="row table-warning" ng-hide="players.length != 0">
                    <td class="col-sm-12 text-center font-weight-bold" colspan="8">no players available</td>
                </tr>
            </tbody>
        </table>
        <div class="float-right">
            <span class="badge badge-primary" ng-bind="selected | countChecked"></span>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-danger btn-sm" ng-click="ban(0)">Permanent Ban</button>
                <button type="button" class="btn btn-outline-warning btn-sm" ng-click="ban(30)">Ban 30m</button>
                <button type="button" class="btn btn-outline-info btn-sm" ng-click="kick()">Kick</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm" ng-click="refresh()">Refresh</button>
                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off" ng-click="autoRefresh()">Auto</button>
            </div>
        </div>
    </div>
</div>

<div class="card m-2">
    <div class="card-header">
        Player Sessions (Past 6 hours)
    </div>
    <div class="card-body" style="overflow-x: none; overflow-y: scroll; height: 400px;">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-sm-1">No.</th>
                    <th scope="col" class="col-sm-3">Name</th>
                    <th scope="col" class="col-sm-1">Kills</th>
                    <th scope="col" class="col-sm-1">Deaths</th>
                    <th scope="col" class="col-sm-2">Disconnected &uarr;</th>
                    <th scope="col" class="col-sm-1">Session time</th>
                    <th scope="col" class="col-sm-2">IP:SPort</th>
                    <th scope="col" class="col-sm-1 text-center">Option</th>
                </tr>
            </thead>
            <tbody style="font-size: 14px;">
                <tr class="row" ng-repeat="(index, player) in disconnectedPlayers">
                    <td class="col-sm-1">{{ player.userId }}</td>
                    <td class="col-sm-3">
                        <span ng-click="showDisconnectedPlayerInfo(player.userId)" style="cursor: pointer;">{{ player.name }}</span>
                    </td>
                    <td class="col-sm-1">{{ player.kills }}</td>
                    <td class="col-sm-1">{{ player.deaths }}</td>
                    <td class="col-sm-2">{{ player.disconnected | date: 'dd.MM.yy hh:mm' }}</td>
                    <td class="col-sm-1">{{ player.sessionTime | formatTime }}</td>
                    <td class="col-sm-2">{{ player.ipAddress }}:{{ player.port }}</td>
                    <td class="col-sm-1 text-center">
                        <input type="checkbox" name="groupOffline" ng-model="selectedOffline[index]" id="{{ index }}">
                    </td>
                </tr>
                <tr class="row table-warning" ng-hide="disconnectedPlayers.length != 0">
                    <td class="col-sm-12 text-center font-weight-bold" colspan="8">no players available</td>
                </tr>
            </tbody>
        </table>
        <div class="float-right">
            <span class="badge badge-primary" ng-bind="selectedOffline | countChecked"></span>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-danger btn-sm" ng-click="offlineBan(0)">Permanent Ban</button>
                <button type="button" class="btn btn-outline-warning btn-sm" ng-click="offlineBan(30)">Ban 30m</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="playerInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Player hit counter</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Hit count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Generic</td>
                        <td>{{ hitGroup.generic }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Head</td>
                        <td>{{ hitGroup.head }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Chest</td>
                        <td>{{ hitGroup.chest }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Stomach</td>
                        <td>{{ hitGroup.stomach }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Left Hand</td>
                        <td>{{ hitGroup.leftHand }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Right Hand</td>
                        <td>{{ hitGroup.rightHand }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Left Leg</td>
                        <td>{{ hitGroup.leftLeg }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Right Leg</td>
                        <td>{{ hitGroup.rightLeg }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Gear</td>
                        <td>{{ hitGroup.gear }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>