<div class="card m-2">
    <div class="card-header">
        Changelevel
    </div>
    <div class="card-body">

        <div class="row mb-1">
            <div class="col-2">
                BombDefusal
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-repeat="map in maps.bombDefusal" ng-click="changeLevel('de_' + map)">{{ map }}</button>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-2">
                HostageRescue
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-repeat="map in maps.hostageRescue" ng-click="changeLevel('cs_' + map)">{{ map }}</button>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-2">
                SniperRifle
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-repeat="map in maps.sniperRifle" ng-click="changeLevel('awp_' + map)">{{ map }}</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                Another
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-repeat="map in maps.another" ng-click="changeLevel(map)">{{ map }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card m-2">
    <div class="card-header">
        Custom operations
    </div>
    <div class="card-body">

        <div class="row mb-1">
            <div class="col-2">
                Bots management
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="command('bot_add')">add</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="command('bot_add_t')">add_t</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="command('bot_add_ct')">add_ct</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="command('bot_kick')">kick all</button>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-2">
                Bot difficulty (D Hard)
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="command('bot_difficulty', 0)">Easy</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="command('bot_difficulty', 1)">Normal</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="command('bot_difficulty', 2)">Hard</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="command('bot_difficulty', 3)">Expert</button>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-2">
                Friendlyfire (D Off)
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success btn-sm" ng-click="command('mp_friendlyfire', 1)">On</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" ng-click="command('mp_friendlyfire', 0)">Off</button>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-2">
                Autoteambalance (D On)
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success btn-sm" ng-click="command('mp_autoteambalance', 1)">On</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" ng-click="command('mp_autoteambalance', 0)">Off</button>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-2">
                Limitteams (D 1)
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary btn-sm pl-3 pr-3" ng-click="command('mp_limitteams', 1)">1</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm pl-3 pr-3" ng-click="command('mp_limitteams', 2)">2</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm pl-3 pr-3" ng-click="command('mp_limitteams', 3)">3</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm pl-3 pr-3" ng-click="command('mp_limitteams', 4)">4</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm pl-3 pr-3" ng-click="command('mp_limitteams', 5)">5</button>
                </div>
            </div>
        </div>
    </div>
</div>